# Fichier de configuration - Projet Administre

# ==========================================
# CHEMINS ET RÉPERTOIRES
# ==========================================

# Répertoire de base du projet
PROJECT_DIR="$HOME/tp-automation"

# Sauvegardes
BACKUP_DIR="$PROJECT_DIR/backups"
LOG_BACKUP_DIR="$BACKUP_DIR/logs"           # Sauvegardes des logs
SYSTEM_BACKUP_DIR="$BACKUP_DIR/system"      # Sauvegardes système (futur)
DB_BACKUP_DIR="$BACKUP_DIR/databases"       # Sauvegardes BDD (futur)

# Logs d'application
LOG_DIR="$PROJECT_DIR/logs"
UPDATE_LOG="$LOG_DIR/update_log.txt"
ERROR_LOG="$LOG_DIR/update_error.log"

# ==========================================
# PARAMÈTRES RÉSEAU
# ==========================================

TEST_HOST="8.8.8.8"
PING_COUNT="4"

# ==========================================
# PARAMÈTRES DE SAUVEGARDE
# ==========================================

# Rétention des sauvegardes (en jours)
BACKUP_RETENTION_DAYS="7"

# Fichiers à sauvegarder 
BACKUP_SOURCES=("/var/log/" "/etc/")

# NOTIFICATIONS 

ADMIN_EMAIL="hijenmethnani1@gmail.com"
SEND_EMAIL_NOTIFICATIONS="false"
