# Configuration  - Projet Administre

# Dossiers principaux
BACKUP_DIR="$HOME/tp-automation/backups"
LOG_DIR="$HOME/tp-automation/logs"

# Paramètres réseau
TEST_HOST="8.8.8.8"

# Sauvegarde
RETENTION_DAYS="7"
